[client]
host = {{ getv "/config/Database/Server" }}
user = {{ getv "/config/Database/User" }}
password = {{ if exists "/config/Database/Password" }}{{ getv "/config/Database/Password" }}{{ else }}provisioner_password{{ end }}
