PGHOST="{{ getv "/config/Database/Server" }}"
PGDATABASE="{{ getv "/config/Database/Name" }}"
PGUSER="{{ getv "/config/Database/User" }}"
PGPASSWORD="{{ getv "/config/Database/Password" }}"

DATA_SOURCE_NAME="database={{ getv "/config/Database/Name" }} user={{ getv "/config/Database/User" }} password={{ getv "/config/Database/Password" }} host={{ getv "/config/Database/Server" }}"

export PGHOST PGDATABASE PGUSER PGPASSWORD
