init_config:

instances:
  - server: {{ getv "/config/DBserver" }}
    user: {{ getv "/config/DBuser" }}
    pass: {{ if exists "/config/DBpassword" }}{{ getv "/config/DBpassword" }}{{ else }}provisioner_password{{ end }}
    tags:
      - dbinstanceidentifier:{{ index ( split ( getv "/config/DBserver" ) "." ) 0 }} 
    options:
      replication: true
      extra_status_metrics: true
      extra_innodb_metrics: true
      extra_performance_metrics: true
      schema_size_metrics: true
    queries:
     - # Sample Custom metric
       query: "SELECT COUNT(1) as errors FROM percona.checksums WHERE ( master_cnt <> this_cnt OR master_crc <> this_crc OR ISNULL(master_crc) <> ISNULL(this_crc) )"
       metric: percona.checksum.errors
       type: gauge
       field: errors

